@CHARSET "ISO-8859-1";

#menu{
	width: 100%;
	float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    cursor: pointer;
}












#formularioTarefa{
	margin-left: 323px;
	padding-top: 20px;
	width: 700px;
	padding-left: 22px;
	float: left;
}

* {
    margin: 0;
    padding: 0;
}
 
fieldset {
    border: 0;
}
 
body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}
 
.grupo:before, .grupo:after {
    content: " ";
    display: table;
}
 
.grupo:after {
    clear: both;
}
 
.campo {
    margin-bottom: 1em;
}
 
.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}
 
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}
 
.campo input[type="text"],
.campo input[type="number"],
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
 
 
 
.botao {
    font-size: 1.5em;
    background: #3498DB;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.1em 0.4em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
 
.botao:hover {
    background: #2980B9;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
 
.botao, select, label.checkbox {
    cursor: pointer;
}


<!-------------------------------------FIM DO FORMULARIO-------------------------------->

#tabelaTarefas {
	float:left;
}


table {
	margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  width: 50%;
}

tr:hover{
	background-color: #2980B9;
	cursor: pointer;
}

th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}